.getintuch{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color:  #0058E6;
    color:  #ffffff;
    height: 400px;
    .intuch-text{
        width: 70%;
    }
    .intuch-button{

    }
}